            <footer class="b-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="b-footer__item">
                                <span class="title">Президент Академий</span>
                                <span class="text">Расницын Виталий<br />Георгиевич</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="b-footer__item icon2">
                                <span class="title">Тел: <a class="tel" href="tel://7-499-967-0548">7 (499) 967-0548</a></span>
                                <span class="title">Моб: <a class="tel" href="tel://7-985-769-3149">7 (985) 769-3149</a></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="b-footer__item icon3">
                                <a class="email" href="mailto:vrpr@mail.ru">vrpr@mail.ru</a>
                            </div>
                        </div>
                    </div>
                    <div class="b-created">
                        <a target="_blank" href="http://mymediapro.ru">Создание сайта</a> MyMediaPro
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>