            <footer class="b-footer">
                <div class="container">
                    <div class="row">
                        <div class="span4">
                            <div class="b-footer__item">
                                <span class="title">Президент Академий</span>
                                <span class="text">Расницын Виталий<br />Георгиевич</span>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="b-footer__item icon2">
                                <span class="title">Тел: 7 (499) 967-0548</span>
                                <span class="title">Моб: 7 (985) 769-3149</span>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="b-footer__item icon3">
                                <a class="email" href="mailto:vrpr@mail.ru">vrpr@mail.ru</a>
                            </div>
                        </div>
                    </div>
                    <div class="b-created">
                        Создано с любовью в <a target="_blank" href="http://mymediapro.ru">MyMediaPro</a>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>