<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=1012">
        <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
        <link rel="stylesheet" href="css/style.min.css" media="all"/>
        <script src="js/01_jquery-2.0.3.min.js"></script>
        <script src="js/all.min.js"></script>
        <!--[if lte IE 8 ]><script type="text/javascript">window.location.href="ie8min/index.html";</script><![endif]-->
    </head>
    <body>
        <div class="wrap">
            <header class="b-header row">
                <div class="container">
                    <div class="b-header__logo">
                        <a href="/index.html"><img src="images/content/logo.png" alt="российская академия общественных связей" title="На главную"/></a>
                    </div>
                    <div class="b-header__right">
                        <nav>
                            <ul class="b-topnav">
                                <li class="b-topnav__item"><a class="b-topnav__link current" href="">АкадемиКи</a></li>
                                <li class="b-topnav__item"><a class="b-topnav__link" href="">Деятельность</a></li>
                                <li class="b-topnav__item"><a class="b-topnav__link" href="">Рейтинг НР2К</a></li>
                                <li class="b-topnav__item"><a class="b-topnav__link" href="">Библиотека</a></li>
                                <li class="b-topnav__item"><a class="b-topnav__link" href="">Новости</a></li>
                                <li class="b-topnav__item"><a class="b-topnav__link" href="">Документы</a></li>
                            </ul>
                        </nav>
                        <div class="b-header__lng">
                            <a href="#">En</a><a class="current" href="#">Ру</a>
                        </div>
                    </div>
                </div>
            </header>