<div class="b-works__item">
    <div class="row">
        <div class="col-sm-4">
            <!-- Осторожно со скобками. Заменил двойные на одинарные в alt атрибуте-->
            <img class="b-works__img" src="images/content/ci4.jpg" alt="Российская академия общественных связей подготовила доклад 'Состояние национальной индустрии общественных связей. Доклад был представлен профессиональному сообществу 28 февраля 2014 года.'"/>
        </div>
        <div class="col-sm-8">
            <a href="#" class="b-works__title">Российская академия общественных связей подготовила доклад "Состояние национальной индустрии общественных связей. Доклад был представлен профессиональному сообществу 28 февраля 2014 года.</a>
            <ul class="b-dllist">
                <li><a href="#">Инструкция по созданию копии ЭЦП</a></li>
            </ul>
        </div>
    </div>
</div>