<div class="b-tbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 b-tbar__item">
                <h1 class="b-tbar__title">@@title</h1>
            </div>
            <div class="col-sm-6 b-tbar__item">
                <select class="js-styler b-tbar__sort" style="width:190px;">
                    <option value="index.html">2015</option>
                    <option value="index.html">2014</option>
                    <option value="index.html">2013</option>
                    <option value="index.html">2012</option>
                </select>
                <a class="b-tbar__main" href="/index.html">Вернуться на главную</a>
            </div>
        </div>
    </div>
</div>