<article class="b-article">
    <div class="b-article__content">
        <h1 class="b-article__title">Баранников Андрей Петрович</h1>
    </div>
    <img class="b-article__academic-photo" class="img" src="images/content/a1.png" alt=""/>
    <div class="b-article__content">
        <p>Буквально все Морзе приходилось делать самому или при помощи своих друзей из нью-йоркского университета (куда он был приглашен в 1835 году профессором литературы и изящных искусств). Морзе достал в кузнице кусок мягкого железа и изогнул его в виде подковы. Изолированная медная проволока тогда еще не была известна</p>
        <p>Морзе купил несколько метров проволоки и изолировал ее бумагой. Первое большое разочарование постигло его, когда обнаружилось недостаточное намагничивание электромагнита. Это объяснялось малым числом оборотов проволоки вокруг сердечника Только ознакомившись с книгой профессора Генри, Морзе смог исправить допущенные ошибки и собрал первую действующую модель своего аппарата.</p>
        <script>
            $('.b-modal__arrow_prev').attr('href', 'academic-popup-content.html');
            $('.b-modal__arrow_next').attr('href', 'academic-popup-content.html');
        </script>
        <p>На деревянной раме, прикрепленной к столу, он установил электромагнит и часовой механизм, приводивший в движение бумажную ленту. К маятнику часов он прикрепил якорь (пружину) магнита и карандаш. </p>
    </div>
</article>