@@include('blocks/_b-header.html', {
"body_classmod": ""
})
@@include('blocks/_page-title.html', {
"title": "Документы"
})
<div class="b-page">
    <div class="container">
        <div class="align-center b-form">
            <div class="b-form__checkbox"><input class="checkbox" type="checkbox" id="id1" checked="checked"/><label class="label" for="id1">Физическое лицо</label></div>
            <div class="b-form__checkbox"><input class="checkbox" type="checkbox" id="id2"/><label class="label" for="id2">Юридическое лицо</label></div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')
