@@include('blocks/_b-header.html', {
    "body_classmod": ""
})
    <div class="b-main__slider">
        <div class="control">
            <div class="container">
                <button class="prev js-flex-prev"></button>
                <button class="next js-flex-next"></button>
            </div>
        </div>
        <ul class="slides">
            <li style="background-image:url(images/content/slide1.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Российская<br />академия<br />общественных<br />связей (РАОС)</h2>
                            <p>Некоммерческое партнерство, созданное ведущими профессиональными специалистами в области связей с общественностью, которые, обладая необходимыми компетенциями, объединяют усилия  с целью:</p>
                            <p><a class="pr-button pr-button_white" href="">УЗНАТЬ БОЛЬШЕ О КОМПАНИЙ</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image:url(images/content/1353904238_luchnik.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Российская<br />академия<br />общественных<br />связей (РАОС)</h2>
                            <p>19 февраля 2015 г. состоится XVIII Церемония награждения лауреатов Национальной премии в области развития общественных связей "Серебряный лучник"</p>
                            <p>18 февраля 2015 г. - Дни открытых презентаций</p>
                            <p><a class="pr-button" href="">ПОДРОБНЕЕ</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="b-main__gray">
        <div class="container">
            <div class="b-main__about">
                <h2 class="b-main__title">ОБ АКАДЕМИИ</h2>
                <div class="b-text">
                    <p><strong>Российская академия общественных связей (РАОС) - некоммерческое партнерство, созданное ведущими профессиональными специалистами в области связей с общественностью, которые, обладая необходимыми компетенциями объединяют усилия для достижения следующих целей:</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="b-feature wow fadeIn" data-wow-delay=".25s" data-wow-duration="1.5s">
                        <div class="b-text">
                            <p><img src="images/content/ci7.png" alt=""/></p>
                            <h4>ПРОДВИЖЕНИЕ</h4>
                            <p>Рост значимости индустрии как важнейшего фактора развития гражданского общества, экономики и государственных институтов в России</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="b-feature wow fadeIn" data-wow-delay=".70s" data-wow-duration="1.5s">
                        <div class="b-text">
                            <p><img src="images/content/ci8.png" alt=""/></p>
                            <h4>РЕПУТАЦИЯ</h4>
                            <p>Содействие в повышении репутации отрасли в общественном сознании, в СМИ, органах государственной власти, в деловых кругах в России и за рубежом</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="b-feature wow fadeIn" data-wow-delay="1.25s" data-wow-duration="1.5s">
                        <div class="b-text">
                            <p><img src="images/content/ci9.png" alt=""/></p>
                            <h4>СТАНДАРТЫ</h4>
                            <p>Формирование и поддержка высоких профессионально-этических стандартов деятельности в сфере общественных связей</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="b-feature wow fadeIn" data-wow-delay="1.75s" data-wow-duration="1.5s">
                        <div class="b-text">
                            <p><img src="images/content/ci10.png" alt=""/></p>
                            <h4>ПОДДЕРЖКА</h4>
                            <p>Инициирование и содействие в организации ключевых научно-образовательных и просветительских проектов для развития отрасли в стране</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-main__news">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="b-main__title">НОВОСТИ</h2>
                    <div class="b-widget b-widget_text">
                        <p class="align-center"><a class="pr-button" href="raos4_in2.html">Посмотреть все новости</a></p>
                        <p class="hide-phone"><a href="#"><img src="images/content/ci5.png" alt=""/></a></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    @@include('blocks/_b-news.html',{
                    "title": "Заседание учебно-методического совета вузов России"
                    })
                </div>
                <div class="col-sm-3">
                    @@include('blocks/_b-news.html',{
                    "title": "Заседание учебно-методического совета вузов России"
                    })
                </div>
                <div class="col-sm-3">
                    @@include('blocks/_b-news.html',{
                    "title": "Заседание учебно-методического совета вузов России"
                    })
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="b-partners">
            <ul class="slides">
                <li><a href="#"><img src="images/content/logo3.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo1.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo2.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo1.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo2.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo3.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo1.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo2.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo3.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo1.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo2.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo3.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo1.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo2.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo3.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo1.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo2.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo3.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo1.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo2.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo3.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo1.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo2.jpg" alt=""/></a></li>
                <li><a href="#"><img src="images/content/logo3.jpg" alt=""/></a></li>
            </ul>
        </div>
    </div>

    @@include('blocks/_b-footer.html')
