@@include('blocks/_b-header.html', {
"body_classmod": ""
})
<!-- Здесь текст в списке такого формата "Рейтинг 2016"-->
@@include('blocks/_page-title_books.html', {
"title": "РЕЙТИНГ НР2К"
})
<div class="b-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 visible-phone">
                @@include('blocks/_sidebar-menu.html')
            </div>
            <div class="col-sm-9">
                <div class="b-text">
                    <h2>Рабочая группа</h2>
                    <p>В 2013 году под эгидой <strong>Российской академии общественных связей (РАОС)</strong> и крупнейших отраслевых ассоциаций (АКОС, РАСО, российское подразделение IABC, АКМР) был сформирован и представлен первый в России Национальный рейтинг коммуникационных компаний, который впоследствии стал значимым ежегодным событием в PR индустрии.</p>
                </div>
                <div class="pr-sponsor">
                    <h4>Официальная поддержка:</h4>
                    <div class="row b-text">
                        <div class="col-sm-4">
                            <p class="align-center"><img src="images/content/86ab31da_s.jpg" alt=""/></p>
                        </div>
                        <div class="col-sm-8" >
                            <p>Издательский дом «Коммерсантъ» - одна из самых влиятельных медиаструктур в стране. В портфель ИД входят: ежедневная газета «Коммерсантъ», еженедельники «Коммерсантъ ВЛАСТЬ», «Коммерсантъ ДЕНЬГИ», «Огонек», «Коммерсантъ WEEKEND», ежемесячные журналы «Коммерсантъ СЕКРЕТ ФИРМЫ», «Коммерсантъ КАТАЛОГ», «Коммерсантъ АВТОПИЛОТ». С марта 2010 года к активам ИД относится радиостанция «Коммерсантъ FM». В Интернете холдинг представлен сайтом kommersant.ru.</p>
                        </div>
                    </div>
                    <h4>Официальная поддержка:</h4>
                    <div class="row b-text">
                        <div class="col-sm-4">
                            <p class="align-center"><img src="images/content/9c05256a_s.png" alt=""/></p>
                        </div>
                        <div class="col-sm-8" >
                            <p>Издательский дом «Коммерсантъ» - одна из самых влиятельных медиаструктур в стране. В портфель ИД входят: ежедневная газета «Коммерсантъ», еженедельники «Коммерсантъ ВЛАСТЬ», «Коммерсантъ ДЕНЬГИ», «Огонек», «Коммерсантъ WEEKEND», ежемесячные журналы «Коммерсантъ СЕКРЕТ ФИРМЫ», «Коммерсантъ КАТАЛОГ», «Коммерсантъ АВТОПИЛОТ». С марта 2010 года к активам ИД относится радиостанция «Коммерсантъ FM». В Интернете холдинг представлен сайтом kommersant.ru.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 hide-phone">
                @@include('blocks/_sidebar-menu.html')
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')
