@@include('blocks/_b-header.html', {
"body_classmod": ""
})
<!-- Здесь текст в списке такого формата "Рейтинг 2016"-->
@@include('blocks/_page-title_books.html', {
"title": "РЕЙТИНГ НР2К"
})
<div class="b-page">
    <div class="container">
        <div class="b-text__slider-wrap">
            <div class="row">
                <div class="col-sm-9">
                    <div class="b-text__slider">
                        <ul class="slides">
                            <li>
                                <div class="img">
                                    <img src="images/content/text_slide.jpg" alt=""/>
                                </div>
                                <div class="text">
                                    <img class="logo" src="images/content/nr2k_logo.png" alt=""/>
                                    <p>Некоммерческое партнерство, созданное ведущими профессиональными специалистами в области связей с общественностью, которые, обладая необходимыми компетенциями, объединяют усилия  с целью:</p>
                                </div>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="images/content/text_slide2.jpg" alt=""/>
                                </div>
                                <div class="text">
                                    <img class="logo" src="images/content/nr2k_logo.png" alt=""/>
                                    <p>«Проведение Национального рейтинга коммуникационных компаний</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <ul class="b-text__slider-list">
                        <li><a href="#">Наблюдательный совет</a></li>
                        <li><a href="#">Рабочая группа</a></li>
                        <li><a href="#">Партнеры НР2К</a></li>
                        <li><a href="#">Условия участия в НР2К</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="b-text">
            <h2>Что такое Рейтинг НР2К?</h2>
            <p>В 2013 году под эгидой <strong>Российской академии общественных связей (РАОС)</strong> и крупнейших отраслевых ассоциаций (АКОС, РАСО, российское подразделение IABC, АКМР) был сформирован и представлен первый в России Национальный рейтинг коммуникационных компаний, который впоследствии стал значимым ежегодным событием в PR индустрии.</p>

            <p><strong>Национальный рейтинг коммуникационных компаний (НР2К)</strong> – это первый комплексный продукт такого рода, который, прежде всего, призван повысить информационную прозрачность рынка PR-услуг и способствовать развитию и укреплению доверия между участниками рынка.</p>

            <p>«Проведение Национального рейтинга коммуникационных компаний – это важный шаг на пути к дальнейшему развитию коммуникационной индустрии. Необходимым условием участия в рейтинге является обеспечение открытости и прозрачности деятельности компании» - комментирует Виталий Расницын, президент <strong>Российской академии общественных связей (РАОС)</strong>.</p>

            <p>В Национальной рейтинге НР2К интегрируются данные рейтинга коммуникационных компаний России по параметрам, которые определяются в ежегодно обновляемой методологии проведения рейтинга. Формат проведения рейтинга - не «коробочный», а « открытый», что предполагает постоянное обсуждение параметров оценки компаний для дальнейшего развития и совершенствования продукта. Методология определяется в рамках публичных дискуссий с участием Наблюдательного совета, операторов рейтинга и заинтересованных представителей рынка.</p>

            <p>В этом 2015 году решением Наблюдательного совета, сформированного <strong>Российской академией общественных связей</strong>, утверждена следующая методология формирования рейтинга….</p>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')
