@@include('blocks/_b-header.html')
@@include('blocks/_page-title.html', {
"title": "НОВОСТИ"
})
<div class="b-page">
    <div class="container">
        <ul class="b-filter">
            <li class="b-filter__item"><a class="b-filter__link curernt" href="#">Все новости</a></li>
            <li class="b-filter__item"><a class="b-filter__link" href="#">Интервью</a></li>
            <li class="b-filter__item"><a class="b-filter__link" href="#">Выступления и доклады</a></li>
            <li class="b-filter__item"><a class="b-filter__link" href="#">СМИ</a></li>
            <li class="b-filter__item"><a class="b-filter__link" href="#">Медиабанк</a></li>
        </ul>
    </div>
</div>
@@include('blocks/_b-footer.html')
