@@include('blocks/_b-header.html', {
    "body_classmod": ""
})
@@include('blocks/_page-title.html', {
"title": "АКАДЕМИКИ"
})
<div class="b-page">
    <div class="container">
        <div class="row">
            <aside class="col-sm-3">
                <div class="b-widget b-widget_academic">
                    <p class="wow fadeIn" data-wow-duration="1.5s" style="visibility: hidden;"><img src="images/content/ci1.png" alt=""/></p>

                    <p class="wow fadeIn" data-wow-duration="1.5s" style="visibility: hidden;">Пользующиеся высоким авторитетом и безупречной репутацией в профессиональном сообществе,    имеющие профессиональный стаж не менее 15 лет,</p>

                    <p class="wow fadeIn" data-wow-delay=".5s" data-wow-duration="1.5s" style="visibility: hidden;"><img src="images/content/ci2.png" alt=""/></p>

                    <p class="wow fadeIn" data-wow-delay=".5s" data-wow-duration="1.5s" style="visibility: hidden;">Внесшие значительный персональный вклад в развитие индустрии,</p>

                    <p class="wow fadeIn" data-wow-delay=".5s" data-wow-duration="1.5s" style="visibility: hidden;"><img src="images/content/ci3.png" alt=""/></p>

                    <p class="wow fadeIn" data-wow-delay=".5s" data-wow-duration="1.5s" style="visibility: hidden;">Проявившие себя в общественной деятельности, в том числе активно участвуя в</p>
                </div>
            </aside>
            <div class="col-sm-9">
                <div class="row js-academic_container">
                    @@include('blocks/_b-academic.html', {
                        "image": "images/content/a1.png"
                    })
                    @@include('blocks/_b-academic.html', {
                        "image": "images/content/a2.png"
                    })
                    @@include('blocks/_b-academic.html', {
                        "image": "images/content/a3.png"
                    })
                    @@include('blocks/_b-academic.html', {
                        "image": "images/content/a4.png"
                    })
                    @@include('blocks/_b-academic.html', {
                        "image": "images/content/a5.png"
                    })
                    @@include('blocks/_b-academic.html', {
                        "image": "images/content/a6.png"
                    })
                    @@include('blocks/_b-academic.html', {
                        "image": "images/content/a7.png"
                    })
                    @@include('blocks/_b-academic.html', {
                        "image": "images/content/a8.png"
                    })
                    @@include('blocks/_b-academic.html', {
                        "image": "images/content/a9.png"
                    })
                    @@include('blocks/_b-academic.html', {
                        "image": "images/content/a10.png"
                    })
                    @@include('blocks/_b-academic.html', {
                        "image": "images/content/a11.png"
                    })
                    @@include('blocks/_b-academic.html', {
                        "image": "images/content/a12.png"
                    })
                    @@include('blocks/_b-academic.html', {
                        "image": "images/content/a13.png"
                    })
                    @@include('blocks/_b-academic.html', {
                        "image": "images/content/a14.png"
                    })
                    @@include('blocks/_b-academic.html', {
                        "image": "images/content/a15.png"
                    })
                    @@include('blocks/_b-academic.html', {
                        "image": "images/content/a16.png"
                    })
                </div>
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')
