@@include('blocks/_b-header.html')
@@include('blocks/_page-title.html', {
    "title": "Документы"
})
    <div class="b-page">
        <div class="container">
            <ul class="b-dllist">
                <li><a href="#">Инструкция по созданию копии ЭЦП</a></li>
                <li><a href="#">Инструкция по установке и Настройке ПК "СБиС++ Электронная отчетность"</a></li>
                <li><a href="#">Сертификат Росалькогольрегулирование</a></li>
                <li><a href="#">Инструкция по созданию копии ЭЦП</a></li>
                <li><a href="#">Инструкция по установке и Настройке ПК "СБиС++ Электронная отчетность" </a></li>
                <li><a href="#">Сертификат Росалькогольрегулирование</a></li>
                <li><a href="#">Инструкция по созданию копии ЭЦП</a></li>
                <li><a href="#">Инструкция по установке и Настройке ПК "СБиС++ Электронная отчетность" </a></li>
                <li><a href="#">Сертификат Росалькогольрегулирование</a></li>
                <li><a href="#">Инструкция по созданию копии ЭЦП</a></li>
                <li><a href="#">Инструкция по установке и Настройке ПК "СБиС++ Электронная отчетность" </a></li>
                <li><a href="#">Сертификат Росалькогольрегулирование</a></li>
            </ul>
        </div>
    </div>
@@include('blocks/_b-footer.html')
