@@include('blocks/_b-header.html', {
    "body_classmod": "page_librari"
})
@@include('blocks/_page-title_books.html', {
    "title": "БИБЛИОТЕКА"
})
<div class="b-page b-page_book">
    <div class="row b-page__book-row">
        <div class="container">
            @@include('blocks/_b-book.html')
            @@include('blocks/_b-book.html')
            @@include('blocks/_b-book.html')
            @@include('blocks/_b-book.html')
        </div>
    </div>
    <div class="row b-page__book-row">
        <div class="container">
            @@include('blocks/_b-book.html')
            @@include('blocks/_b-book.html')
            @@include('blocks/_b-book.html')
            @@include('blocks/_b-book.html')
        </div>
    </div>
    <div class="row b-page__book-row">
        <div class="container">
            @@include('blocks/_b-book.html')
            @@include('blocks/_b-book.html')
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')
