<div class="col-md-3 col-sm-4 js-news__col">
    @@include('blocks/_b-news.html',{
    "title": "Заседание учебно-методического совета вузов России"
    })
</div>
<div class="col-md-3 col-sm-4 js-news__col">
    @@include('blocks/_b-news.html',{
    "title": "Заседание учебно-методического совета вузов России совета вузов России"
    })
</div>
<div class="col-md-3 col-sm-4 js-news__col">
    @@include('blocks/_b-news.html',{
    "title": "Заседание"
    })
</div>
<div class="col-md-3 col-sm-4 js-news__col">
    @@include('blocks/_b-news.html',{
    "title": "Заседание учебно-методического совета вузов России"
    })
</div>
<div class="col-md-3 col-sm-4 js-news__col">
    @@include('blocks/_b-news.html',{
    "title": "Заседание учебно-методического совета вузов России"
    })
</div>
<div class="col-md-3 col-sm-4 js-news__col">
    @@include('blocks/_b-news.html',{
    "title": "Заседание учебно-методического"
    })
</div>
<div class="col-md-3 col-sm-4 js-news__col">
    @@include('blocks/_b-news.html',{
    "title": "Заседание учебно-методического совета вузов России совета вузов России"
    })
</div>
<div class="col-md-3 col-sm-4 js-news__col">
    @@include('blocks/_b-news.html',{
    "title": "Заседание учебно-методического совета вузов России"
    })
</div>