@@include('blocks/_b-header.html', {
"body_classmod": ""
})
<!-- Здесь текст в списке такого формата "Рейтинг 2016"-->
@@include('blocks/_page-title_books.html', {
"title": "РЕЙТИНГ НР2К"
})
<div class="b-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 visible-phone">
                @@include('blocks/_sidebar-menu.html')
            </div>
            <div class="col-sm-9">
                <div class="b-text">
                    <h2>Рабочая группа</h2>
                    <p>В 2013 году под эгидой <strong>Российской академии общественных связей (РАОС)</strong> и крупнейших отраслевых ассоциаций (АКОС, РАСО, российское подразделение IABC, АКМР) был сформирован и представлен первый в России Национальный рейтинг коммуникационных компаний, который впоследствии стал значимым ежегодным событием в PR индустрии.</p>
                </div>
            </div>
            <div class="col-sm-3 hide-phone">
                @@include('blocks/_sidebar-menu.html')
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="row js-academic_container">
                    @@include('blocks/_b-academic.html', {
                    "image": "images/content/a1.png"
                    })
                    @@include('blocks/_b-academic.html', {
                    "image": "images/content/a2.png"
                    })
                    @@include('blocks/_b-academic.html', {
                    "image": "images/content/a3.png"
                    })
                    @@include('blocks/_b-academic.html', {
                    "image": "images/content/a4.png"
                    })
                    @@include('blocks/_b-academic.html', {
                    "image": "images/content/a5.png"
                    })
                    @@include('blocks/_b-academic.html', {
                    "image": "images/content/a6.png"
                    })
                    @@include('blocks/_b-academic.html', {
                    "image": "images/content/a7.png"
                    })
                    @@include('blocks/_b-academic.html', {
                    "image": "images/content/a8.png"
                    })
                    @@include('blocks/_b-academic.html', {
                    "image": "images/content/a9.png"
                    })
                    @@include('blocks/_b-academic.html', {
                    "image": "images/content/a10.png"
                    })
                    @@include('blocks/_b-academic.html', {
                    "image": "images/content/a11.png"
                    })
                    @@include('blocks/_b-academic.html', {
                    "image": "images/content/a12.png"
                    })
                    @@include('blocks/_b-academic.html', {
                    "image": "images/content/a13.png"
                    })
                    @@include('blocks/_b-academic.html', {
                    "image": "images/content/a14.png"
                    })
                    @@include('blocks/_b-academic.html', {
                    "image": "images/content/a15.png"
                    })
                    @@include('blocks/_b-academic.html', {
                    "image": "images/content/a16.png"
                    })
                </div>
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')
