.b-academic{
    padding-bottom: em(60);
    visibility: hidden;
    &__image{
        display: block;
        margin: 0 auto;
    }
    &__name{
        display: block;
        color: #000;
        $font-size: 15;
        font-size: em($font-size);
        font-weight: 700;
        line-height: 1.4;
        padding: em(10, $font-size) 0 0;
    }
    &__post{
        display: block;
        color: #737373;
        $font-size: 14;
        font-size: em($font-size);
    }
    &__link{
        display: block;
        text-decoration: none;
    }
}
@media (max-width: 768px) {
    .b-academic{
        &__name, &__post{
            text-align: center;
        }
    }
}