.b-news{
    margin-bottom: em(26);
    position: relative;
    z-index: 10;
    &:before{
        content:"";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        padding: 8px 8px 8px 8px;
        border:1px solid #ccc;
        left: -8px;
        top: -8px;
        opacity: 0;
        transition:opacity .3s;
    }
    &:hover:before{
        opacity: 1;
    }
    &__image{
        position: relative;
        width: 100%;
        padding-bottom: 64%;
        background-size: cover;
        background-position: 50% 50%;
        background-color: #ccc;
        display: block;
    }
    &__content{
        padding: em(14) 0 em(19);
    }
    &__title{
        color: #000;
        $font-size: 15;
        font-size: em($font-size);
        position: relative;
        padding: em(5, $font-size) 0 em(6, $font-size);
        line-height: 1.35;
        font-weight: 700;
        &:hover{
            text-decoration: none;
        }
        a{
            color: currentColor;
            text-decoration: none;
            font-weight: inherit;
        }
    }
    &__date{
        color: #838D8F;
        font-size: em(13);
    }
    &__tags{
        .tag{
            display: inline-block;
            $background-color: #E3000B;
            background-color: $background-color;
            border-radius: 4px;
            color: #FFF;
            font-weight: 700;
            padding: em(1) em(8);
            text-transform: uppercase;
            margin-right: em(5);
            text-decoration: none;
            transition:background-color .3s;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                background-color: darken($background-color, 10);
            }
        }
    }

}

@media (max-width: 768px) {
    .b-news{
        &:before{
            display: none;
        }
    }
}