.b-topnav{
    padding: em(11) 0;
    &__item{
        display: inline-block;
        padding: 0 em(11);
        border-left:1px solid #e5e5e5;
        &:first-child{
            border-left:0;
        }
    }
    &__link{
        color: #000;
        $font-size: 13;
        font-size: em($font-size);
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.1;
        transition:color .3s;
        &:hover, &.current{
            color: #e3000b;
        }
    }
}