@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700&subset=latin,cyrillic);
/*grid*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: 400; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  font-size: 10px; }

body {
  line-height: 1.5;
  font-size: 10px;
  color: #373737;
  font-family: 'Ubuntu', sans-serif;
  background: #fff;
  font-weight: 400; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:focus, input:focus, button:focus {
  outline: none; }

a:hover {
  text-decoration: none; }

.row {
  width: 100%; }
  .row:before, .row:after {
    display: table;
    content: "";
    line-height: 0; }
  .row:after {
    clear: both; }
  .row > [class*="span"] {
    display: block;
    width: 100%;
    min-height: 1px;
    box-sizing: border-box;
    float: left;
    margin-left: 1.83673%; }
  .row > [class*="span"]:first-child {
    margin-left: 0; }
  .row > .span1 {
    width: 6.64966%; }
  .row > .span2 {
    width: 15.13605%; }
  .row > .span3 {
    width: 23.62245%; }
  .row > .span4 {
    width: 32.10884%; }
  .row > .span5 {
    width: 40.59524%; }
  .row > .span6 {
    width: 49.08163%; }
  .row > .span7 {
    width: 57.56803%; }
  .row > .span8 {
    width: 66.05442%; }
  .row > .span9 {
    width: 74.54082%; }
  .row > .span10 {
    width: 83.02721%; }
  .row > .span11 {
    width: 91.51361%; }
  .row > .span12 {
    width: 100%; }
  .row > .offset1 {
    margin-left: 10.32313%; }
    .row > .offset1:first-child {
      margin-left: 8.48639%; }
  .row > .offset2 {
    margin-left: 18.80952%; }
    .row > .offset2:first-child {
      margin-left: 16.97279%; }
  .row > .offset3 {
    margin-left: 27.29592%; }
    .row > .offset3:first-child {
      margin-left: 25.45918%; }
  .row > .offset4 {
    margin-left: 35.78231%; }
    .row > .offset4:first-child {
      margin-left: 33.94558%; }
  .row > .offset5 {
    margin-left: 44.26871%; }
    .row > .offset5:first-child {
      margin-left: 42.43197%; }
  .row > .offset6 {
    margin-left: 52.7551%; }
    .row > .offset6:first-child {
      margin-left: 50.91837%; }
  .row > .offset7 {
    margin-left: 61.2415%; }
    .row > .offset7:first-child {
      margin-left: 59.40476%; }
  .row > .offset8 {
    margin-left: 69.72789%; }
    .row > .offset8:first-child {
      margin-left: 67.89116%; }
  .row > .offset9 {
    margin-left: 78.21429%; }
    .row > .offset9:first-child {
      margin-left: 76.37755%; }
  .row > .offset10 {
    margin-left: 86.70068%; }
    .row > .offset10:first-child {
      margin-left: 84.86395%; }
  .row > .offset11 {
    margin-left: 95.18707%; }
    .row > .offset11:first-child {
      margin-left: 93.35034%; }

.pr-button {
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  border: 2px solid #FFF;
  border-radius: 1px;
  padding: 1.4rem 3.5rem;
  transition: background-color 0.3s, color 0.3s;
  background-color: transparent;
  cursor: pointer;
  line-height: 1.5;
  box-sizing: border-box; }
  .pr-button:hover {
    background-color: #fff;
    color: #000; }
  .pr-button_block {
    display: block;
    width: 100%; }
.pr-button-v2 {
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  line-height: 1.5;
  text-decoration: none;
  color: #373737;
  font-size: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #E4E4E4;
  background-image: linear-gradient(to top, #E7E7E7 0%, #F6F6F6 100%);
  border: 1px solid #DEDEDE;
  border-radius: 2px;
  padding: 0.76923em 0.76923em;
  vertical-align: middle;
  box-sizing: border-box; }
  .pr-button-v2:hover {
    background-image: linear-gradient(to top, #F6F6F6 0%, #E7E7E7 100%); }
  .pr-button-v2_block {
    display: block;
    width: 100%; }
.pr-list {
  padding: 1em 0; }
  .pr-list li {
    color: #B4B4B4;
    font-size: 1.4rem;
    padding: 0.64286em 0 0.64286em 3.35714em;
    list-style: none;
    background-repeat: no-repeat;
    background-position: 0 0.71429em; }
  .pr-list.checklist li {
    background-image: url(../images/b64/checklist.png); }
  .pr-list.alertlist li {
    background-position: 0 0.42857em;
    background-image: url(../images/b64/alertlist.png); }
.pr-scroll-top {
  padding: 60px 60px 0 0;
  width: 0;
  height: 0;
  display: block;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  display: none;
  background: url(../images/b64/to-top_btn.png) no-repeat; }

body {
  min-width: 1012px;
  position: relative; }

.container {
  width: 980px;
  margin: 0 auto; }

.wrap {
  overflow: hidden;
  min-width: 1012px; }

.align-right {
  text-align: right; }

.b-header {
  padding: 1.3em 0 1.3em; }
  .b-header__logo {
    float: left;
    padding: 0.5em 1.5em 0 0; }
    .b-header__logo img {
      display: block; }
    .b-header__logo a {
      display: inline-block; }
  .b-header__right {
    overflow: hidden;
    position: relative;
    padding: 0.7em 28px 0.7em 0; }
  .b-header__lng {
    position: absolute;
    right: 0;
    top: 0; }
    .b-header__lng a {
      display: block;
      color: #7f7f7f;
      font-size: 1.1em;
      text-align: center;
      border: 2px solid #ededed;
      width: 24px;
      line-height: 20px;
      margin-bottom: 0.27273em;
      text-decoration: none;
      transition: border-color 0.3s, color 0.3s; }
      .b-header__lng a:last-child {
        margin-bottom: 0; }
      .b-header__lng a:hover, .b-header__lng a.current {
        border-color: #e3000b;
        color: #e3000b; }

.b-footer {
  padding: 2em 0;
  position: relative;
  background-color: #000;
  margin-top: 38px; }
  .b-footer:before {
    content: "";
    display: block;
    width: 100%;
    height: 38px;
    position: absolute;
    top: -37px;
    left: 0;
    background: url(../images/b64/tr.png) no-repeat left bottom;
    background-size: 100% 100%; }
  .b-footer__item {
    padding: 0 0 0 8em;
    background: url(../images/b64/icon1.png) no-repeat 10px top;
    min-height: 6em;
    box-sizing: border-box; }
    .b-footer__item.icon2 {
      background-image: url(../images/b64/icon2.png); }
    .b-footer__item.icon2 {
      background-image: url(../images/b64/icon3.png); }
    .b-footer__item .title {
      color: #FFF;
      font-size: 1.6em;
      font-weight: 700;
      display: block; }
    .b-footer__item .text {
      color: #C2C2C2;
      font-size: 1.3em;
      display: block; }
    .b-footer__item .email {
      color: #E3000B;
      font-size: 1.6em;
      display: inline-block;
      padding: 1.0625em 0 0;
      margin-bottom: 1.0625em;
      font-weight: 700;
      text-decoration: none;
      border-bottom: 2px dotted #E3000B;
      line-height: 1; }
      .b-footer__item .email:hover {
        border-color: rgba(0, 0, 0, 0); }

.b-page {
  padding: 4em 0; }

.b-tbar {
  padding: 2.9em 0;
  background: #e3000b;
  background: linear-gradient(45deg, rgba(227, 0, 11, 0) 0%, rgba(225, 0, 11, 0) 2%, rgba(176, 0, 8, 0) 64%, #af0008 65%, #ab0008 70%, #ab0008 99%, #ab0008 100%), linear-gradient(135deg, #e3000b 0%, #ab0008 100%); }
  .b-tbar__title {
    color: #FFF;
    font-size: 3.3em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1; }
  .b-tbar__main {
    display: inline-block;
    color: #ECCDCD;
    font-size: 1.3em;
    background-color: #75090e;
    border-radius: 1.30769em;
    padding: 0.53846em 1.15385em;
    text-decoration: none;
    transition: background-color 0.3s; }
    .b-tbar__main:hover {
      background-color: #5d070b; }

.b-dllist li {
  color: #737373;
  font-size: 1.3em;
  font-weight: 300;
  padding: 0.84615em 0 0.84615em 80px;
  background: url(../images/b64/documents-list.png) no-repeat left center;
  list-style: none; }
  .b-dllist li a {
    color: currentColor;
    text-decoration: none; }
    .b-dllist li a:hover {
      text-decoration: underline; }

.b-created {
  font-size: 1.3em;
  color: #FFF;
  text-align: center;
  padding-top: 1.53846em; }
  .b-created:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 21px;
    background: url(../images/b64/heart.png) no-repeat;
    vertical-align: middle;
    margin-right: 5px; }
  .b-created a {
    color: #E3000B;
    text-decoration: none; }
    .b-created a:hover {
      text-decoration: underline; }

.b-topnav {
  padding: 1.1em 0; }
  .b-topnav__item {
    display: inline-block;
    padding: 0 1.1em;
    border-left: 1px solid #e5e5e5; }
    .b-topnav__item:first-child {
      border-left: 0; }
  .b-topnav__link {
    color: #000;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
    transition: color 0.3s; }
    .b-topnav__link:hover, .b-topnav__link.current {
      color: #e3000b; }

